<div class="page page-<%= pluralize(name) %>">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> <%= _.capitalize(pluralize(name)) %></strong>
        </div>
        <div class="panel-body">
            <div class="row text-small">
                <div class="col-sm-4">
                    <div class="input-group text-right">
                        <button class="btn btn-success" ng-click="create()" type="button"><i class="fa fa-plus"></i> New <%= _.capitalize(name) %></button>
                    </div>
                </div>
                <div class="col-sm-offset-4 col-sm-4">
                    <form class="input-group form-search" name="form" ng-submit="search()" role="search">
                        <span class="input-group-addon icon"><i class="fa fa-search"></i></span>
                        <input class="input-sm form-control" ng-model="q" placeholder="Search" type="text"/>
                        <span class="input-group-btn"><button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button></span>
                    </form>
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                           <% _.each(attrs, function (attr) { if (attr.attrName != "deleted") { %>
                            <th>
                                <%= _.humanize(attr.attrName) %>
                            </th>
                            <% }}); %>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="<%= name %> in items">
                            <td>
                                {{<%= name %>.id}}
                            </td>
                            <% _.each(attrs, function (attr) { if (attr.attrName != "deleted") { %>
                            <td>
                                {{<%= name %>.<%= _.underscored(attr.attrName) %><% if (attr.attrType === 'Date') { %> | date:'yyyy-MM-dd'<% } %>}}
                            </td>
                            <% }}); %>
                            <td>
                                <button class="btn" ng-click="update(<%= name %>.id)" type="submit"><span class="fa fa-pencil"></span></button>
                                <button class="btn btn-danger" ng-click="delete(<%= name %>.id)" type="submit"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <p class="m-t inline">
                            {{ items.from }}-{{ items.to }} of {{ items.total }} items
                            <select ng-change="show(items.limit)" ng-model="items.limit" ng-options="obj for obj in perpage">
                            </select>
                            per page
                        </p>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination boundary-links="true" class="pagination-sm" items-per-page="items.limit" ng-change="page(items.page)" ng-model="items.page" rotate="false" total-items="items.total">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>